html,
body {
	height: 100%;
}

body {
	font-size: $fontSize;

	font-family: $fontFamily, sans-serif;
	line-height: 1;
	color: $mainColor;
	background-color: $mainBackgroundColor;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-size: inherit;

	font-family: $fontFamily, sans-serif;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: var(--link-color-interacted);
	text-decoration: underline;
	outline: none;
}

.form {
	display: flex;

	flex-direction: column;
	row-gap: 0.5rem;
	color: var(--secondary-color-text);
}

.animation {
	background: linear-gradient(-90deg, #fff 0%, #d9edff 10%, #fff 30%);
	background-size: 400% 400%;
	animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
	0% {
		background-position: 0% 0%;
	}

	100% {
		background-position: -135% 0%;
	}
}
