body {
	color: $mainColor;
	line-height: 1;
	font-family: $fontFamily, sans-serif;
	font-size: $fontSize;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $mainBackgroundColor;
}

input,
button,
textarea {
	font-family: $fontFamily, sans-serif;
	font-size: inherit;
}

a:hover,
a:focus,
a:active {
	outline: none;
	color: var(--link-color-interacted);
	text-decoration: underline;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

.form {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	color: var(--secondary-color-text);
}

.animation {
	background: linear-gradient(
		-90deg,
		#f0f0f05e 0%,
		#f8f8f81e 50%,
		#f0f0f05e 100%
	);
	background-size: 400% 400%;
	animation: pulse 2s ease-in-out infinite;
}

@keyframes pulse {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: -135% 0%;
	}
}
