:root {
	--main-background: #65b7ff;
	--link-color: #1a6eb7;
	--link-color-interacted: #093c69;
	--header-footer-background: #fff;
	--main-color-text: #000;
	--secondary-color-text: #9e9e9e;
	--secondary-color-text-opacity: #9e9e9e2b;
	--error-color-text: #ce0505;
	--checkbox-checked: #4a90e2;
	--checkbox-disabled: #9b9b9b;
	--checkbox-focused: #7ed321;
	--border: 0.0313rem solid currentcolor;
	--layout-gap: 1.25rem;
	--border-radius-layout-comp: 1rem;
	--border-radius-form-comp: 0.25rem;
}
