:root {
	--main-background: #65b7ff;
	--link-color: #3ea4fc;
	--link-color-interacted: #166bb6;
	--header-footer-background: #fff;
	--main-color-text: #000;
	--secondary-color-text: #9e9e9e;
	--secondary-color-text-opacity: #9e9e9e2b;
	--error-color-text: #ce0505;

	--border: 0.03125rem solid currentColor;

	--layout-gap: 1.25rem;
	--border-radius-layout-comp: 1rem;
	--border-radius-form-comp: 0.25rem;
}
