.inputCnt {
	display: inline-block;

	position: relative;
}

.inputPass {
	width: 100%;
	padding-right: 2.5rem;
}

.eye,
.crossedEye {
	fill: var(--secondary-color-text);
	stroke: var(--secondary-color-text);
}

.eyeBtn {
	position: absolute;
	top: 50%;
	right: 1rem;
	width: 1rem;
	height: 1rem;
	outline: none;
	transform: translateY(-50%);

	&:hover,
	&:focus {
		.eye,
		.crossedEye {
			fill: var(--main-color-text);
			stroke: var(--main-color-text);
		}
	}
}
