.input {
	padding: 0.5rem 1rem;
	color: var(--main-color-text);
	border: 0.03125rem solid var(--secondary-color-text);
	border-radius: var(--border-radius-form-comp);

	&::placeholder {
		color: var(--secondary-color-text);
	}
}
