.signCard {
	position: relative;
	padding: 1.25rem;
}

.signCardCnt {
	width: 100%;

	> * {
		text-align: center;
	}

	> *:not(:first-child) {
		margin-top: 1rem;
	}
}

.goBack {
	align-self: flex-start;
	color: var(--secondary-color-text);

	&:hover,
	&:focus {
		color: currentcolor;
	}

	@media (width >= 769px) {
		position: absolute;
		top: 1.25rem;
		left: 1.25rem;
	}
}

.breakLine {
	text-align: center;
	font-size: 1rem;

	position: relative;
	color: var(--secondary-color-text);

	span {
		width: 2rem;
	}

	&::after,
	&::before {
		position: absolute;
		top: 50%;
		width: calc(50% - 1rem);
		height: 0.0313rem;
		content: '';
		background-color: currentcolor;
		transform: translateY(-50%);
	}

	&::after {
		left: 0;
	}

	&::before {
		right: 0;
	}
}
