.app {
	min-height: 100vh;
	padding: var(--layout-gap);

	display: grid;
	grid-template-areas:
		'header content'
		'footer footer';
	grid-template-columns: min-content 1fr;
	grid-template-rows: 1fr 2.5rem;
	gap: var(--layout-gap);
}

.main {
	grid-area: content;
}

.header {
	grid-area: header;
}

.footer {
	grid-area: footer;
}
