.image {
	text-align: center;
	font-size: inherit;

	position: relative;
	width: 100%;
	height: 100%;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		background-color: #7b7b7b;
	}

	&::after {
		z-index: 2;
		display: inline-block;

		position: absolute;
		top: 50%;
		left: 50%;
		width: 75%;
		height: 50%;
		margin: auto;
		overflow: hidden;
		color: rgb(100 100 100);
		text-overflow: ellipsis;
		content: '\2639' ' ' attr(alt);
		transform: translate(-50%, -50%);
	}
}

.imageCap {
	background-color: #7b7b7b;
}
