.header {
	padding: 1rem;
	gap: 1rem;
	@media (width >= 768px) {
		width: 7.5rem;
		height: 50vh;
	}
}

.navigate {
	display: flex;

	align-items: center;
	justify-content: space-around;
	width: 100%;

	@media (width >= 768px) {
		flex-direction: column;
		justify-content: space-between;
		height: 25%;
	}
}

.logout {
	align-self: stretch;
	margin-top: auto;
	white-space: nowrap;
}
